---
---
@import "{{ site.theme }}";

.header-image {
  width: 100%; /* Make image span the full width of the header */
  height: auto; /* Maintain aspect ratio */
  /* Add other styles as needed, e.g., margin, padding */
  object-fit: cover; /* Ensures image covers the area without stretching, might crop parts */
}
.page {
    margin-left: 0;
    margin-right: 0;
}
.wrapper {
    max-width: 1200px; /* Adjust this value as needed */
}
.site-title {
    color: #F54927; // Replace #yourcolor with your desired color code 
}
